@page
@model ConfirmMailToLoginModel
@{
    ViewData["Title"] = "Confirm email to log in";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Before you log in to your account. Check your email for confirmation.
    </p>
</div>